{% extends "template.html" %}

{% block style %}
.cover {
    width: 176px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

.container-fluid {
    background-color: #555555;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

.form-group label {
    color: #FFFFFF;
}
{% endblock %}

{% block content %}
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <div class="cover">
        <form class="form-horizontal" role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.label_tag }}
                <div>{{ form.username }}</div>
            </div>
            <div class="form-group">
                {{ form.password.label_tag }}
                <div>{{ form.password }}</div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Sign in</button>
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
            </div>
        </form>
    </div>
{% endblock %}
