{% extends "template.html" %}

{% block content %}
    <div class="canvas-row" id="canvas-row-1">
        <div class="canvas-upper-column" id="canvas-column-1">
            <div class="canvas-box" id="canvas-box-kp">
                <b>Key Parteners (<a href="{% url 'addItem' canvas.id 'KP' %}">Add</a>)</b>
                {% include "canvas/itemlist.html" with items=kps %}
            </div>
        </div>
        <div class="canvas-upper-column" id="canvas-column-2">
            <div class="canvas-box" id="canvas-box-ka">
                <b>Key Activities (<a href="{% url 'addItem' canvas.id 'KA' %}">Add</a>)</b>
                {% include "canvas/itemlist.html" with items=kas %}
            </div>
            <div class="canvas-box" id="canvas-box-kr">
                <b>Key Resources (<a href="{% url 'addItem' canvas.id 'KR' %}">Add</a>)</b>
                {% include "canvas/itemlist.html" with items=krs %}
            </div>
        </div>
        <div class="canvas-upper-column" id="canvas-column-3">
            <div class="canvas-box" id="canvas-box-vp">
                <b>Value Proposition (<a href="{% url 'addItem' canvas.id 'VP' %}">Add</a>)</b>
                {% include "canvas/itemlist.html" with items=vps %}
            </div>
        </div>
        <div class="canvas-upper-column" id="canvas-column-4">
            <div class="canvas-box" id="canvas-box-cr">
                <b>Customer Relationships (<a href="{% url 'addItem' canvas.id 'CR' %}">Add</a>)</b>
                {% include "canvas/itemlist.html" with items=crs %}
            </div>
            <div class="canvas-box" id="canvas-box-ch">
                <b>Channels (<a href="{% url 'addItem' canvas.id 'CH' %}">Add</a>)</b>
                {% include "canvas/itemlist.html" with items=chs %}
            </div>
        </div>
        <div class="canvas-upper-column" id="canvas-column-5">
            <div class="canvas-box" id="canvas-box-cs">
                <b>Customer Segments (<a href="{% url 'addItem' canvas.id 'CS' %}">Add</a>)</b>
                {% include "canvas/itemlist.html" with items=css %}
            </div>
        </div>
    </div>
    <div class="canvas-row" id="canvas-row-2">
        <div class="canvas-bottom-column" id="canvas-column-6">
            <div class="canvas-box" id="canvas-box-css">
                <b>Cost Structure (<a href="{% url 'addItem' canvas.id 'CSS' %}">Add</a>)</b>
                {% include "canvas/itemlist.html" with items=csss %}
            </div>
        </div>
        <div class="canvas-bottom-column" id="canvas-column-7">
            <div class="canvas-box" id="canvas-box-rss">
                <b>Revenue Streams (<a href="{% url 'addItem' canvas.id 'RSS' %}">Add</a>)</b>
                {% include "canvas/itemlist.html" with items=rsss %}
            </div>
        </div>
    </div>
{% endblock %}
